%% -*- erlang -*-
{erl_opts, [debug_info]}.
{xref_checks, [undefined_function_calls]}.
{erl_first_files, ["src/toker_c.erl",
		   "src/toker_pt.erl",
		   "src/toker_server.erl",
		   "src/toker_erl_parse.erl",
		   "src/toker_bootstrap.erl"]}.

{cover_enabled, true}.
{eunit_opts, [verbose]}.

{clean_files, ["*~","*/*~","*/*.xfm","test/*.beam"]}.

{deps, [
        {parse_trans, ".*",
         {git, "git://github.com/uwiger/parse_trans.git", {branch, "master"}}},
	{edown, ".*",
	 {git, "git://github.com/uwiger/edown.git", {branch, "master"}}}
       ]}.

{edoc_opts, [{doclet, edown_doclet}]}.
